{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<h1>Nos Service</h1>
    <ul>
        {% for service in services %}
            <li>{{ service.title }}</li>
            <li>{{ service.created|date('d/m/Y H:i:s') }}</li>
                
        {% endfor %}
    </ul>
{% endblock %}
