{% extends 'layout.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
<h1>Services</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>created At</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.created|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
